<template>
  <div class="center">
    <!-- <pre>{{content}}</pre> -->
    <h1 class="title">{{ content.Title.iv }}</h1>
    <h2>{{ content.Subtitle.iv }}</h2>
    <p>{{ content.Description.iv }}</p>
    <div class="date">
      <span>{{ content.Published.iv }}</span>
    </div>
  </div>
</template>

<script>
export default {
  async fetch({ store, route }) {
    await store.dispatch('getToken');
    await store.dispatch('getContent', route.params.id);
  },
  computed: {
    content() {
      return this.$store.getters['content'];
    }
  }
};
</script>

<style scoped>
.center {
  margin: 50px;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 10px;
  text-align: justify;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}

.date {
  margin: 15px 0;
  text-align: right;
}
</style>
