<template>
  <div class="container">
    <h1>Content</h1>
    <!-- <pre>{{contents}}</pre> -->
    <div v-for="content in contents" :key="content.id">
      <nuxt-link class="element" :to="`/${content.id}`">{{
        content.data.Title.iv
      }}</nuxt-link>
    </div>
  </div>
</template>
<script>

export default {
  async fetch({ store }) {
    await store.dispatch('getToken');
    await store.dispatch('getContents');
  },
  computed: {
    contents() {
      return this.$store.getters['contents'];
    }
  }
};
</script>

<style scoped>
.container {
  margin: 50px;
  padding: 10px;
}

.element {
  display: block;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}
</style>
